@if(dataObject.subData.subData2.firstname; as name){
    <p>{{name}}</p>
}
@else if (dataObject.subData.subData2) {
    <p>Hii</p>
}
@else {
    <p>Bye</p>
}
<hr>
@switch (age) {
    @case (16) {
        <p>Age is 16</p>
    }
    @case (23) {
        <p>Age is 23</p>
    }
    @case (56) {
        <p>Age is 56</p>
    }
    @default {
        <p>Age is not 16, 23 or 56</p>
    }

}
<hr>
@switch(true) {
    @case (num > 16) {
        <p>Age is greater than 16</p>
    }
    @case (num < 16) {
        <p>Age is less than 16</p>
    }
    @default {
        <p>Age is 16</p>
    }
}

<hr>
<!-- <p *ngFor="let fruit of fruitDetails; trackBy: trackByFn ">{{fruit.name}}</p> -->
 @for(fruit of fruitDetails; track fruit.id; let cout = $count; let indx = $index;
 let first = $first; let even = $even){
    <p>{{indx+1}} - {{fruit.name}} , isFirst:{{first}} ,,, isEven: {{even}}</p>
    <p>{{fruit.price}}</p>
    <p>{{"Total count is :"+cout}}</p>
}@empty {
    <p>No fruits here</p>
    
}

<p-button  (click)="showData()">Add Fruit</p-button>
<p-button (click)="remove()">Remove Fruits</p-button>
