<div class="card flex justify-center">
    <p>Text Input :</p>
    <input type="text" pInputText [(ngModel)]="value" (ngModelChange)="keyUp()"/>
</div>
<p>Check bok :</p>
<div class="card flex justify-center">
    <p-checkbox [(ngModel)]="checked" [binary]="true" />
    <p>{{checked}}</p>
</div>
<p>Radio Button</p>
<div class="card flex justify-center">
    <div class="flex flex-wrap gap-4">
        <div class="flex items-center">
            <p-radiobutton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1" />
            <label for="ingredient1" class="ml-2">Cheese</label>
        </div>

        <div class="flex items-center">
            <p-radiobutton name="pizza" value="Mushroom" [(ngModel)]="ingredient" inputId="ingredient2" />
            <label for="ingredient2" class="ml-2">Mushroom</label>
        </div>

        <div class="flex items-center">
            <p-radiobutton name="pizza" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3" />
            <label for="ingredient3" class="ml-2">Pepper</label>
        </div>

        <div class="flex items-center">
            <p-radiobutton name="pizza" value="Onion" [(ngModel)]="ingredient" inputId="ingredient4" />
            <label for="ingredient4" class="ml-2">Onion</label>
        </div>
    </div>
</div>
<p>Drop Down</p>
<div class="card flex justify-center">
    <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Select a City" class="w-full md:w-56" />
    <p>{{selectedCity.name}}</p>
</div>
<p>Date</p>
<div class="card flex justify-center">
    <form [formGroup]="formGroup">
        <p-datepicker [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="dd.mm.yy" placeholder="set date"/>
        <p>{{date}}</p>
    </form>
</div>