/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
button{
    background-color: #28b272;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}